$dark-primary :  #1C1C1C;
$dark-secondary: #323232;
$dark-tertiary: #262626;

$bg-color-primary: #1A1A1A;
$bg-color-secondary: #1F1F1F;
$bg-color-tertiary: #343434;

$text-color-grey: #C0C0C0;
$grey-primary: #CECECE;
$grey-secondary: #CECECE;

$yellow-primary: #F5A70F;
// $yellow-primary: #F5A70F;
$yellow-secondary: #FFD182;

$search-bg: rgba(177, 177, 177, 0.2);
