*{
    font-family: campton;
    margin: 0;padding: 0;box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-size: 10px;
    font-family: campton;
    overflow:hidden;
}
.dashboard {
    height: 100vh;
}