.u-left {
  padding-left: 2em;
}
.u-left-medium {
  padding-left: 5em;
}
.u-left-big {
  padding-left: 7em;
}
.u-right {
  padding-right: 1.7em;
}
.u-right-small{
  margin-right: 0.5em;
}
.u-bottom {
  padding-bottom: 3em;
}
.u-bottom-small {
  padding-bottom: 1em;
}
.u-bottom-2{
  padding-bottom: 2em;
}
.u-bottom-m-2{
  margin-bottom: 2em;
}
.u-pt-1{
  padding-top: 2px
}
.u-top-2{
  padding-top: 2em;
}
