// Search input code
input {
  padding: 1em 8em 1em 1.2em;
  border-radius: 30px;
  background-color: $search-bg;
  border: none;
  color: white;
  font-size: 1.5em;
}

.fill-invoice {
  input {
    padding: 1em 1em;
    background-color: $search-bg;
    font-size: 0.6rem;
    border-radius: 10px;
    width: 20em;
    &#qty {
      width: 50px;
    }
    &#price {
      width: 100px;
    }
  }
  
}
