div {
  box-sizing: border-box;
}

.table-container {
  display: block;
  margin: 2em auto;
  width: 90%;
  // min-width: 500px;
}
.tbody {
  background-color: #262626;
  border-radius: 21px;
  padding: 1.5em 1em;
  &__invoice{
    text-align: left;
  }
}
.flex-table {
  display: grid;
  grid-template-columns: repeat(auto-fill,25%) ;
  // grid-template-rows: 100% auto;
  transition: 0.5s;
  font-weight: 400;
  font-size: 0.7rem;
  .flex-rows {
    padding: 1.5em 2em;
    // padding-left: 4em;
    background-color: rgba(177, 177, 177, 0.2);
    color: white;
    cursor: pointer;
    text-align: left;
  }
}
.flex-table-invoice{
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr;
  // grid-template-rows: 100% auto;
  transition: 0.5s;
  font-weight: 400;
  font-size: 0.7rem;
  .flex-rows {
    text-align: left;
    padding: 1.5em 2em;
    // padding-left: 4em;
    background-color: rgba(177, 177, 177, 0.2);
    color: white;
    cursor: pointer;
    text-align: left;
  }
}

.header {
  // perspective: 2px;
  overflow: hidden;
  margin-bottom: 1.5em;
  border-radius: 30px;
  // padding: 0em 1em;
}
.row {
  color: #a3a3a3;
  &:hover {
    color: white;
    background-color: $dark-secondary;
  }
  text-align: left;
  cursor: pointer;
  // padding;
  border-radius: 50px;
}

.flex-row {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1.7em 2em;
}

// @media all and (min-width: 431px) and (max-width: 768px) {
//   .flex-table {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, 33.33%);
//     grid-template-rows: repeat(auto-fill, 100%);

//   }

//   // .rowspan {
//   //   display: grid;
//   //   grid-template-columns: repeat(auto-fill, 100%);
//   //   grid-template-rows: repeat(auto-fill, 100%);
//   //   .flex-row {
//   //     display: grid;
//   //     grid-template-columns: repeat(auto-fill, 33.33%);
//   //     border-bottom: solid 1px $table-border;
//   //   }
//   //   p {
//   //     margin: 0;
//   //   }
//   // }

//   .first {
//     grid-column-start: 1;
//     grid-column-end: 3;
//   }

//   .rowspan > .first {
//     display: block;
//   }
// }

// @media all and (max-width: 430px) {
//   .flex-table {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, 100%);
//     grid-template-rows: 100% auto;
//     .flex-row {
//       border-bottom: 0;
//       &:last-of-type {
//         border-bottom: solid 1px $table-border;
//       }
//     }
//   }

//   .first {
//     border-bottom: 0;
//     grid-column-start: auto;
//     grid-column-end: auto;
//   }

//   .rowspan {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, 100%);
//     grid-template-rows: 100% auto;
//     .flex-row {
//       display: grid;
//       grid-template-columns: repeat(auto-fill, 100%);
//       grid-template-rows: auto;
//       border-bottom: solid 1px $table-border;
//     }
//     p {
//       margin: 0;
//     }
//   }
// }
